{% load i18n %}

{% if not request.impersonator %}
{% if not providers_active and not providers_inactive %}
  <p class="lead">
  {% blocktrans %}
    There does not seem to be a way to log into nm.debian.org at the moment
  {% endblocktrans %}
  </p>
{% else %}
  {% if providers_active %}
    <p class="lead">
    {% blocktrans %}
      You are already logged in as:
    {% endblocktrans %}
    </p>
    <ul class="list-unstyled ml-4">
    {% for provider in providers_active %}
    <li class="row">
      <div class="btn btn-info btn-lg disabled col-sm-6">
        {% with provider.get_active_identity as identity %}
        {% if provider.icon %}
        <img style="vertical-align: text-top; height: 1em" class="mr-2" src="{{STATIC_URL}}{{provider.icon}}"></img>
        {% else %}
        <span class="mr-2 fa fa-sign-in"></span>
        {% endif %}
        {% if identity.profile %}
        <a href="{{identity.profile}}">{{provider.label}}</a>
        {% else %}
        {{provider.label}}
        {% endif %}
        {% if identity.username %}
        ({{identity.username}})
        {% endif %}
        {% endwith %}
      </div>
      <div class="btn btn-light btn-lg disabled col-sm-6">
      {% if provider.get_active_identity %}
      {% trans "(linked to account)" %}
      {% else %}
      {% trans "(not linked to account)" %}
      {% endif %}
      </div>
    </li>
    {% endfor %}
    </ul>

    {% if not request.user.is_authenticated %}
    <p class="lead">
      If you are logged in but your identity is not linked to your account,
      try logging in with other methods <i>at the same time</i>, and they will
      get linked together.
    </p>
    {% endif %}
  {% endif %}

  {% if providers_inactive %}
    <p class="lead">
    {% blocktrans %}
      You can log into nm.debian.org using:
    {% endblocktrans %}
    </p>
    <ul class="list-unstyled ml-4">
    {% for provider in providers_inactive %}
      <li class="row">
        <a class="btn btn-primary btn-lg col-md-6" href="{{provider.get_authorization_url}}" role="button">
        {% if provider.icon %}
        <img style="vertical-align: text-top; height: 1em" class="mr-2" src="{{STATIC_URL}}{{provider.icon}}"></img>
        {% else %}
        <span class="mr-2 fa fa-sign-in"></span>
        {% endif %}
        {{provider.label}}
        </a>
      </li>
    {% endfor %}
    </ul>
  {% endif %}
{% endif %}
{% else %}
<p class="lead">{% trans "Current login information not displayed while impersonating." %}</p>
{% endif %}

{% if identities %}
<h2>{% trans "Identity audit logs" %}</h2>
{% include "signon/audit_identities.html" with identities=identities STATIC_URL=STATIC_URL only %}
{% endif %}
