{% load i18n %}

<div class="card">
  <div class="card-body">
  {% if request.signon_identities %}
    {% if request.user.is_authenticated %}

      {% blocktrans with visitor_a_link=request.user.a_link %}
      You are currently logged in, and recognized as {{visitor_a_link}}.
      {% endblocktrans %}

    {% else %}

      {% url 'dm_claim' as dm_claim_url %}
      {% blocktrans with request_user_username=request.user.username %}You
      are currently logged in, but not mapped to any person in the site.
      If you are a Debian Maintainer, you can try to correct the situation using the
      <a href="{{dm_claim}}">claim interface</a>.{% endblocktrans %}

      {% url 'public_newnm' as public_newnm_url %}
      {% blocktrans %}If you are not yet in the site,
      <a href="{{public_newnm_url}}">visit the 'Join the NM process' page</a>
      to create an entry for yourself.{% endblocktrans %}</p>

    {% endif %}

    <p>{% trans "You are logged in as:" %}</p>

    <ul>
    {% for identity in request.signon_identities.values %}
    <li>
      {% with identity.get_provider as provider %}
        {% if identity.picture %}
        <img class="personpic ml-auto" src="{{identity.picture}}"></img>
        {% elif provider.icon %}
        <img style="vertical-align: text-top; height: 1em" class="mr-2" src="{{STATIC_URL}}{{provider.icon}}"></img>
        {% else %}
        <span class="mr-2 fa fa-sign-in"></span>
        {% endif %}

        {% if identity.profile %}<a href="{{identity.profile}}">{% endif %}
          {{provider.label}}:
          {{identity.fullname}}{% if identity.username %} &lt;{{identity.username}}&gt;{% endif %}
        {% if identity.profile %}</a>{% endif %}
      {% endwith %}
    </li>
    {% endfor %}
    </ul>

  {% else %}

    {% blocktrans %}You are not currently logged in. See the
    <a href="https://wiki.debian.org/DebianSingleSignOn">Single Sign-On page</a>
    for details.{% endblocktrans %}

  {% endif %}
  </div>
</div>
