{% extends "process/nm2-base.html" %}
{% load i18n %}
{% load nm %}

{% block head %}
{{block.super}}
<style type="text/css">
ul.horizontal {
    list-style-type: none;
}
ul.horizontal li {
    display: inline;
}
{% comment %}
table.inconsistency_table tbody {
  white-space: nowrap;
}
{% endcomment %}
</style>
{% endblock %}

{% block content %}

<h1>{% trans "Debian New Member" %}</h1>

<p>{% trans "Currently the database thinks you have the following functions:" %}</p>
<ul>
    {% if user.am.is_am_ctte %}<li>{% trans "New Member Committee" %}</li>{% endif %}
    {% if user.am.is_am %}<li>{% blocktrans with visitor_am_slots=user.am.slots %}Application Manager with {{ visitor_am_slots }} slots{% endblocktrans %}</li>{% endif %}
    {% if user.am.is_fd %}<li>{% trans "Front Desk" %}</li>{% endif %}
    {% if user.am.is_dam %}<li>{% trans "Debian Account Manager" %}</li>{% endif %}
</ul>

{% if user.is_superuser %}

<h2 class="mt-3">{% trans "Front desk" %}</h2>

<h3 class="mt-3">{% trans "Processes needing attention" %}</h3>

{% include "process/process_list.html" with procs=current_processes skip_caption=True %}

{% if fd_approved_processes %}
<h3 class="mt-3">{% trans "Debian Developer processes approved by FD" %}</h3>

{% include "process/process_list.html" with procs=fd_approved_processes skip_caption=True %}
{% endif %}

{% if approved_processes %}
<h3 class="mt-3">{% trans "Processes approved but not yet closed" %}</h3>

{% include "process/process_list.html" with procs=approved_processes skip_caption=True %}
{% endif %}

{% if inconsistencies %}
<h3 class="mt-3">Current inconsistencies</h3>

{% include "sitechecks/inconsistency_table.html" with inconsistencies=inconsistencies %}

<a href="{% url 'sitechecks_list' %}">Full list</a>

{% endif %}

<h3 class="mt-3">{% trans "Application manager availability" %}</h3>

{% if am_available %}

<p>{% trans "The following managers have free slots (#free/#slots):" %}</p>
<ul class="horizontal">
    {% for a in am_available %}
    <li><a href="{% url 'person:amprofile' key=a.person.lookup_key %}">{{a.person.ldap_fields.uid}}</a>
        ({{a.stats_free}}/{{a.slots}})</li>
    {% endfor %}
</ul>
{% else %}
<p>{% trans "Currently there are no free application managers" %}.</p>
{% endif %}

{% endif %}

{# only show application manager section if the current user either has AM slots or any existing process assigned #}
{% if user.am.slots or am_prog_am or am_prog_hold %}
<h2 class="mt-3">{% trans "Application Manager" %}</h2>

<p>{% blocktrans with visitor_uid=user.uid %}Hello <b>{{visitor_uid}}</b>,
here is a list of New Member applicants that you are the AM for:{% endblocktrans %}</p>

<h3 class="mt-3">{% trans "Applicants to process" %}</h3>

<p>{% blocktrans %}The following applicants you are the AM for (ordered by the
date you accepted them as NMs):{% endblocktrans %}</p>
{% include "process/process_list.html" with procs=am_prog_am skip_caption=True %}

<h3 class="mt-3">{% trans "Applicants on Hold" %}</h3>

<p>{% blocktrans %}Applicants who make it here have some issue with completing
the process but are expected to be able to work around that soon (ordered by
hold date).{% endblocktrans %}</p>
{% include "process/process_list.html" with progs=am_prog_hold skip_caption=True %}

{% endif %}

{% endblock %}

