{% extends "nm2-base.html" %}
{% load nm %}
{% load i18n %}

{% block content %}

<h1>{% trans "Edit email for" %} {{person.fullname}}</h1>

<form action="" method="POST">{% csrf_token %}
<table class="personinfo">
{% for field in form %}
<div class="form-group">
  {{field.label_tag}}
  {{field}} {{field.errors}}
</div>
{% endfor %}
</table>
<button class="btn btn-primary" type="submit">{% trans "Submit" %}</button>
</form>

{% endblock %}

