{% extends "nm2-base.html" %}
{% load i18n %}
{% load none_if_epoch %}

{% block head %}
{{block.super}}
<script type="text/javascript">
(function($) {
"use strict";

function main()
{
    let findperson_base_url = new URL($("#findperson").attr("href"), window.location.href);

    let table = $("#members").DataTable({
        paging: false,
        order: [],
        columns: [
          null, null,
          {
            render: (data, type, row, meta) => {
              if (type == "sort")
                return $(data).attr("datetime");
              return data;
            },
          },
        ],
    });

    table.on("search.dt", (evt, settings) => {
        const filter = settings.oPreviousSearch.sSearch;
        let url = new URL(findperson_base_url);
        if (filter)
            url.search = "?name=" + encodeURIComponent(filter);
        $("#findperson").attr("href", url.href);
    });
}

document.addEventListener("DOMContentLoaded", evt => { main(); });

})(jQuery);
</script>
{% endblock %}

{% block content %}

<h1 class="mb-3">{% trans "Official members of the Debian project" %}</h1>

<p class="lead">
{% blocktrans with count=members.count %}
This is the official list of all the <b>{{count}}</b> members of the Debian project.
{% endblocktrans %}
</p>

<table id="members" class="table mt-3">
<thead>
    <tr>
        <th>{% trans "Name" %}</th>
        <th>{% trans "Account name" %}</th>
        <th>{% trans "Since" %}</th>
    </tr>
</thead>
<tbody>
    {% for p in members %}
    <tr>
        <td><a href="{{ p.get_absolute_url }}">{{p.fullname}}</a></td>
        <td><a href="{{ p.get_absolute_url }}">{{p.ldap_fields.uid|default:"None chosen yet"}}</a></td>
        <td><time datetime="{{p.status_changed|none_if_epoch|date:'c'}}">{{p.status_changed|none_if_epoch|date:"Y-m-d"|default:"(unknown)"}}</time></td>
    </tr>
    {% endfor %}
</tbody>
</table>

<div class="card mt-3">
  <h5 class="card-header">
    Not what you expected?
  </h5>
  <div class="card-body">
    <p>If you are looking for information about a person who is not on this
    list, they may not be official Debian members.</p>
    <a id="findperson" class="btn btn-primary" href="{% url 'public_findperson' %}">Search the whole site</a>
  </div>
</div>

{% endblock %}

