{% extends "process/nm2-base.html" %}
{% load nm %}
{% load i18n %}

{% block content %}

<h1>{% trans "Delete" %} {{type_desc}}</h1>

<p>{% trans 'Do you want to delete the following endorsement?' %}</p>

<pre>
{{endorsement.text}}
</pre>

<form action="" method="post">{% csrf_token %}
  {% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}
  {% for field in form.visible_fields %}
  {{ field.label_tag }}<br>
  {{ field }}<br>
  {{ field.errors }}
  {% endfor %}
  {{ form.non_field_errors }}
  <button class="btn btn-danger" type="submit">{% trans "Delete" %}</button>
  <a class="btn btn-primary" href="{{endorsement.get_absolute_url}}">Erm, wait, I changed my mind</a>
</form>

{% endblock %}
