{% extends "process/nm2-base.html" %}
{% load nm %}
{% load i18n %}

{% block content %}

<h1>{% blocktrans with person=person.fullname %}Endorse {{person}}'s key{% endblocktrans %}</h1>

<p>{% blocktrans with fpr=fpr.fpr|fingerprint name=person.fullname %}
You can use this page to post a public statement, signed with your own
GPG key, witnessing that you have interacted with {{name}} using the key
{{fpr}}.
{% endblocktrans %}</p>

<p>{% blocktrans %}You can use <tt>gpg --clearsign --default-key {{endorsing_fpr}}</tt>
to generate the signed statement.{% endblocktrans %}<p>

<p>{% trans "Handy command lines:" %}
<ul>
  <li><tt>gpg --clearsign --default-key {{endorsing_fpr}} | xclip</tt></li>
  <li><tt>gpg --clearsign --default-key {{endorsing_fpr}} | xclip -selection clipboard</tt></li>
</ul>
</p>

<p>{% blocktrans %}It is a good idea to include some context information like
the date and nm.debian.org in the text, in case someone tries to reuse the
signed statement somewhere else.{% endblocktrans %}</p>

<p>{% trans "The signature will be verified using the key" %} {{endorsing_fpr|fingerprint}}.</p>

<p>{% blocktrans with visitor=user.fullname%}The statement will be sent to <a href="https://lists.debian.org/debian-newmaint">debian-newmaint</a> as <tt>{{visitor}}{% endblocktrans %}
    {% if "edit_email" in visit_perms %}
      <a href="{% url 'person:edit_email' key=user.lookup_key %}">&lt;{{user.email}}&gt;</a></tt>.
    {% else %}
      &lt;{{user.email}}&gt;</tt>.
    {% endif %}
</p>

<form action="" method="post">{% csrf_token %}
  {% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}
  {% for field in form.visible_fields %}
  {{ field.label_tag }}<br>
  {{ field }}<br>
  {{ field.errors }}
  {% endfor %}
  {{ form.non_field_errors }}
  <button class="btn btn-primary" type="submit">{% trans "Submit" %}</button>
</form>

{% endblock %}
